/* CSS for Provider Dev Tool */
:host {
    display: block;
    height: 100%;
    overflow-y: auto;
  }
  
  .log-container {
    height: 350px;
    overflow-y: auto;
    font-family: 'JetBrains Mono', monospace;
    font-size: 0.75rem;
  }
  
  /* Log Scrollbar */
  .log-container::-webkit-scrollbar {
    width: 6px;
  }
  
  .log-container::-webkit-scrollbar-track {
    background: #18181b; 
  }
  
  .log-container::-webkit-scrollbar-thumb {
    background: #3f3f46; 
    border-radius: 3px;
  }
  
  .log-container::-webkit-scrollbar-thumb:hover {
    background: #52525b; 
  }
  
  .iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    height: 0;
    background-color: #000;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
  
  .iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
